<header class="main-header">
  <div class="container"> 
    <!-- Botón de volver al index con la casita del home -->  
    <div class="dropdown">
      <a href="/administracion" *ngIf="hasRole('administrator')">🏚</a>
    </div>  

    <div class="logo">
      <a routerLink="/">Neuralshoes</a>
    </div>

    <nav class="main-nav">
      <ul>
        <!-- al presionar el li de inicio se va a la tienda -->
        <li class="dropdown">
          <a href="/administracion" *ngIf="hasRole('administrator')">Administración </a>
        </li>  
        <!-- <li><a routerLink="/tienda">Inicio</a></li> -->
        <li class="dropdown">
          <a >Categorías</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/domains/brands">Nike</a></li>
            <li><a routerLink="/domains/brands">Adidas</a></li>
            <li><a routerLink="/domains/brands">Rebook</a></li>
          </ul>
        </li>
        <li><a routerLink="/ofertas">Ofertas</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </nav>

    <div class="header-actions">
      <form class="search-bar" (submit)="$event.preventDefault()">
        <input type="text" placeholder="Buscar..." />
        <button type="submit">🔍</button>
      </form>

    <a routerLink="/domains/products/cart" class="icon-link">
      🛒 <span class="badge">{{ cartCount }}</span>
    </a>

      <a routerLink="/perfil" class="icon-link">
        👤 <span *ngIf="username" class="username">Bienvenido, {{ username }}</span>
      </a>
      <!-- Botón de alternar tema oscuro/claro -->
      <button class="btn btn-darkmode" type="button" (click)="toggleDarkTheme()" title="Alternar modo oscuro">
        🌓
      </button>
      <!-- Botón de iniciar sesión -->
      <button class="btn btn-primary btn-sm" *ngIf="!isLoggedInUser()" (click)="login()">Iniciar Sesión</button>
      <!-- Botón de cerrar sesión -->
      <button class="btn btn-secondary btn-sm" *ngIf="username" (click)="logout()">Cerrar Sesión</button>
      <!-- <button class="btn btn-primary btn-sm" *ngIf="username">Bienvenido, {{ username }}</button> -->
    </div>
  </div>
</header>