<div class="welcome-container">
  <div class="welcome-title">Bienvenido a Neural Shoes Control</div>
  <button type="button" class="btn btn-gradient btn-lg nasty-index me-2" (click)="goToProducts()">
    <i class="bi bi-box-seam"></i> Ir a Productos
  </button>
  <button type="button" class="btn btn-gradient btn-lg nasty-index" (click)="goToCategories()">
    <i class="bi bi-tags"></i> Ir a Categorías
  </button>
  <button type="button" class="btn btn-gradient btn-lg nasty-index" (click)="goToBrands()">
    <i class="bi bi-tags"></i> Ir a Marcas
  </button>
</div>